<div class="flex whole">
    <input #check
        class="main-input"
        [type]="'checkbox'"
        [checked]="task.complete"
         />
    <div #main
        class="relative task" 
        [class.text-gray-300]="task.complete"
        [class.line-through]="task.complete"
        (dblclick)="startEdit()"
        (mouseover)="this.isMouseOver=true" 
        (mouseout)="this.isMouseOver=false">
        {{task.name}}

        <input #edit 
            type="text"
            class="absolute top-0 left-0 outline-none task"
            [value]="defaultInput"
            [readonly]="!isEditMode"
            [class.hidden]="!this.isEditMode"
        />
    </div>

   
   <button class="opacity-0 hover:opacity-100" 
    [class.disabled]="this.isMouseOver" 
    [class.opacity-100]="this.isMouseOver" 
    (click)="this.onClick()">X</button>
</div>